fastapi==0.135.2
uvicorn==0.42.0
pydantic==2.12.5
tensorflow==2.21.0
pandas==3.0.1
numpy==2.4.3
scikit-learn==1.8.0
shap==0.51.0
lime==0.2.0.1
python-multipart==0.0.22
xgboost==3.2.0
lightgbm==4.6.0
catboost==1.2.10
matplotlib==3.10.8
seaborn==0.13.2
joblib==1.5.3
scipy==1.17.1
openpyxl==3.1.5
